<html>

    <%- include("head.ejs") -%> 
    <body style="background-color: rgb(40, 44, 47);">


        <!-- 
            Website by  
                Pozm#4351 ~ 690944032355909662
                Pozm#6946 ~ 288062966803333120
        -->
        
        <!--     <div class="topBar"></div> -->
        
        <div class="bounder">

            <%- include("nav.ejs") -%> 


            <div class="main" style="background: linear-gradient(171deg, rgba(176,189,255,0.05085784313725494) 0%, rgba(252,70,107,1) 100%);">

                <!-- <div class="box" style="height: -webkit-fill-available;background-color: #1b1c1f; width: 100%;" > -->

                    <h2 class="title is-3" style="color: rgb(228, 228, 228);text-align: center;">You can contact me at Pozm#4351 on discord.</h1>

                    <div class="buttons" style="justify-content: center;">

                        <a href="https://github.com/pozm" class="button">
                            <span class="icon">
                              <i class="fab fa-github"></i>
                            </span>
                            <span>GitHub</span>
                        </a>

                        <a href="https://twitter.com/Pozmx" class="button is-primary">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>@pozmx</span>
                        </a>

                    </div>

                <!-- </div> -->

            </div>

        </div>

    </body>

</html>