<html>

    <%- include("head.ejs") -%> 
    <body style="background-color: rgb(40, 44, 47);">


        <!-- 
            Website by  
                Pozm#4351 ~ 690944032355909662
                Pozm#6946 ~ 288062966803333120
        -->
        
        <!--     <div class="topBar"></div> -->
        
        <div class="bounder">

            <%- include("nav.ejs") -%> 
            
            <div class="welcomingBox">

                <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center;">Contact</h1>
                <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center;"> So you want to contact me?</h2>

            </div>


            <div class="main" style="flex-flow: wrap; /* width:auto; */">

                <div class="box" style="height: -webkit-fill-available;background-color: #1b1c1f; width: 100%;" >

                    <h2 class="title is-3" style="color: rgb(228, 228, 228);text-align: center;">You can contact me at Pozm#4351 on discord.</h1>

                </div>

            </div>

        </div>

    </body>

</html>