<html lang="en">

    <%- include("head.ejs") -%> 

    <body style="background-color: rgb(40, 44, 47);">


        <!-- 
                Website by  
                    Pozm#4351 ~ 690944032355909662
                    Pozm#6946 ~ 288062966803333120
            -->
        <!-- <div class="bg"></div> -->


        <!--     <div class="topBar"></div> -->

        <div class="bounder">
            <%- include("nav.ejs") -%> 
            
            
            <div class="main" style="background: linear-gradient(171deg, rgba(171, 189, 255, 0.05) 0%, rgb(252, 70, 107) 100%);">
                <div class='welcomingBox' style="background: none;">
    
    
                    <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center; position: relative">Welcome</h1>
                    <% if (!data) {%>
                    <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center; position: relative;">You can
                        <a href='/login'>login</a> or <a href="/signup">signup</a> </h2>
                    <% } else {%>
    
                    <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center; position: relative;">
                        <%= data.username  %>! </h2>
    
                    <% } %>
    
                </div>

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">So what is this website?</h1>

                <blockquote
                    style="text-align: center; color: rgb(255, 255, 255); font-size: large; margin-bottom: 50px;word-wrap:break-word;">

                    This website is used for managing my services. which require authentication (which can be done by <a
                        href="/signup"> creating an account </a>) <br>
                    Or communication between code acting as an API<br>
                    I also have useless yet "entertaining" things on this website.<br>




                </blockquote>

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">Who am i?</h1>

                <blockquote
                    style="text-align: center; color: rgb(255, 255, 255); font-size: large; margin-bottom: 50px;word-wrap:break-word;white-space: break-spaces;"> I go by as "pozm" and i'm a programmer.
                    I get entertainment out of programming and find it fun as a primary thing i do. I mainly operate with backend javascript (nodejs) or lua. But i also know other languages
                    like python, c# and typescript. I plan to learn c++ in the near future.

                    I have knowledge of creating "games" using main stream game engines such as "unity" or "unreal" and have
                    made projects within them, which use assets (such as 3d model's and animations)
                </blockquote>

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">Hi where can i contact you?</h1>

                <blockquote
                    style="text-align: center; color: rgb(255, 255, 255); font-size: large; margin-bottom: 50px;word-wrap:break-word;white-space: break-spaces;"><a href="/contact">Here.</a>
                </blockquote>

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">Who is bork?</h1>

                <blockquote style="text-align: center; color: rgb(255, 255, 255); font-size: large;margin-bottom: 50px;">

                    basically some skid.
                    <span style="font-size: xx-small;">but is kinda cool fr</span>

                </blockquote>

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;" id = "cool">Some cool people</h1>
                <div style="align-self: center;">
                    <!-- bork -->
                    <div class="CoolPerson">
                        <div class="AvatarParent">
                            <div class="CircleMask" style="margin-right: 10px;">
                                <img src='https://cdn.discordapp.com/avatars/290867320266424320/a_3d0812ca4b7f2656ef072b829289cdda.gif?size=64'>
                            </div>
                            <p style="font-size: large;justify-content: center;">
                                <a target="_blank" href='https://v3rmillion.net/member.php?action=profile&uid=492604'>bork</a><span style="font-size: xx-small;">#0038</span>
                            </p>
                        </div>
                        <div style="max-width: 1000px; display: flex;">

                            <div class="hbar"></div>
                            <!-- <p class="pcoolbg">hi</p> -->

                        </div>
                    </div>
                    <!-- dsf -->
                    <div class="CoolPerson">
                        <div class="AvatarParent">
                            <div class="CircleMask" style="margin-right: 10px;">
                                <img src='https://cdn.discordapp.com/avatars/747910459331575809/676598ede1eb704f64809fc65e07bf15.png?size=64'>
                            </div>
                            <p style="font-size: large;justify-content: center;">
                                <a target="_blank" href='https://twitter.com/dsfwastaken'>dsf</a><span style="font-size: x-small;">#2885</span>
                            </p>
                        </div>
                        <div style="max-width: 1000px; display: flex;">

                            <div class="hbar"></div>
                            <!-- <p class="pcoolbg">hi</p> -->

                        </div>
                    </div>
                    <!-- Harmer -->
                    <div class="CoolPerson">
                        <div class="AvatarParent">
                            <div class="CircleMask" style="margin-right: 10px;">
                                <img src='https://cdn.discordapp.com/avatars/601498618888978479/a_a473974a6c1cdec26e51762eca2ac605.gif?size=64'>
                            </div>
                            <p style="font-size: large;justify-content: center;">
                                <a target="_blank" href='https://v3rmillion.net/member.php?action=profile&uid=1513278'>Harmer</a><span style="font-size: x-small;">#1111</span>
                            </p>
                        </div>
                        <div style="max-width: 1000px; display: flex;">

                            <div class="hbar"></div>
                            <!-- <p class="pcoolbg">hi</p> -->

                        </div>
                    </div>
                    <!-- Pickl -->
                    <div class="CoolPerson">
                        <div class="AvatarParent">
                            <div class="CircleMask" style="margin-right: 10px;">
                                <img src='https://cdn.discordapp.com/avatars/267689225112125441/6705a67b38abceacfb2fdae98eb28b3e.png?size=64'>
                            </div>
                            <p style="font-size: large;justify-content: center;">
                                <a target="_blank" href='https://www.instagram.com/pickl.cat/'>Pickl</a><span style="font-size: x-small;">#6609</span>
                            </p>
                        </div>
                        <div style="max-width: 1000px; display: flex;">

                            <div class="hbar"></div>
                            <!-- <p class="pcoolbg">hi</p> -->

                        </div>
                    </div>
                    <!-- Astroz -->
                    <div class="CoolPerson">
                        <div class="AvatarParent">
                            <div class="CircleMask" style="margin-right: 10px;">
                                <img src='https://cdn.discordapp.com/avatars/475111190909943808/f68f2d2bea2751de61b4d1375174518f.png?size=64'>
                            </div>
                            <p style="font-size: large;justify-content: center;">
                                <a target="_blank" href='https://twitter.com/AstrozTm'>Astroz</a><span style="font-size: x-small;">#0001</span>
                            </p>
                        </div>
                        <div style="max-width: 1000px; display: flex;">

                            <div class="hbar"></div>
                            <!-- <p class="pcoolbg">hi</p> -->

                        </div>
                    </div>
                    <!-- Blue -->
                    <div class="CoolPerson">
                        <div class="AvatarParent">
                            <div class="CircleMask" style="margin-right: 10px;">
                                <img src='https://cdn.discordapp.com/avatars/266956332693716992/09689d73771cd4bdf524e30c5670f51e.png?size=64'>
                            </div>
                            <p style="font-size: large;justify-content: center;">
                                <a target="_blank" href='https://twitter.com/bluedogz162'>YOW</a><span style="font-size: x-small;">#0082</span>
                            </p>
                        </div>
                        <div style="max-width: 1000px; display: flex;">

                            <div class="hbar"></div>
                            <!-- <p class="pcoolbg">hi</p> -->

                        </div>
                    </div>
                    <!-- Me -->
                    <div class="CoolPerson">
                        <div class="AvatarParent">
                            <div class="CircleMask" style="margin-right: 10px;">
                                <img src='https://cdn.discordapp.com/avatars/518763902570594314/27434f0090d5e16543a665d0fda537f9.png?size=64'>
                            </div>
                            <p class='AvatarText'>
                                <a target="_blank" href='https://twitter.com/pozmx'>Pozm</a><span style="font-size: x-small;">#4351</span>
                            </p>
                        </div>
                        <div style="max-width: 1000px; display: flex;">

                            <div class="hbar"></div>
                            <!-- <p class="pcoolbg">hi</p> -->

                        </div>
                    </div>



                </div>
                <hr class="thick">

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">Some things on this website</h1>
                <div
                    style="outline-width: 3px; outline-color: rgb(32, 32, 32); /* outline-style: solid */; width: 70%; margin-left: auto; margin-right: auto; display: flex; justify-content: center;">

                    <a href='/webhooktools'>

                        <div class="button" style="margin: 4px;">Web-hook tools</div>

                    </a>
                    <br>
                    <a href='name'>

                        <div class="button" style="margin: 4px;">Name generator</div>

                    </a>
                    <br>

                </div>
                <br>


            </div>
        </div>

    </body>

</html>