<html>

    <%- include("head.ejs") -%> 

    <body style="background-color: rgb(40, 44, 47);">


        <!-- 
                Website by  
                    Pozm#4351 ~ 690944032355909662
                    Pozm#6946 ~ 288062966803333120
            -->
        <div class="bg"></div>


        <!--     <div class="topBar"></div> -->

        <div class="bounder">
            <%- include("nav.ejs") -%> 
            <div class='welcomingBox'>


                <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center; position: relative">Welcome</h1>
                <% if (!data) {%>
                <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center; position: relative;">You can
                    <a href='/login'>login</a> or <a href="/signup">signup</a> </h2>
                <% } else {%>

                <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center; position: relative;">
                    <%= data.username  %>! </h2>

                <% } %>

            </div>


            <div class="main">

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">So what is this website?</h1>

                <blockquote
                    style="text-align: center; color: rgb(255, 255, 255); font-size: large; margin-bottom: 50px;word-wrap:break-word;">

                    This website is used for managing my services. which require authentication (which can be done by <a
                        href="/signup"> creating an account </a>) <br>




                </blockquote>

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">Who am i?</h1>

                <blockquote
                    style="text-align: center; color: rgb(255, 255, 255); font-size: large; margin-bottom: 50px;word-wrap:break-word;">

                    I go by as "pozm" and i'm a programmer.<br>
                    I get entertainment out of programming and find it fun as a primary thing i do.<br>
                    I mainly operate with backend javascript (nodejs) or lua. But i also know other languages<br>
                    like python, c# and typescript. I plan to learn c++ in the near future.<br>
                    <br>
                    I have knowledge of creating "games" using main stream game engines such as "unity" or "unreal" and have
                    made projects within them, <br>
                    which use assets (such as 3d model's and animations) within them which have given me expirence with
                    creating models etc, although im not competent in those areas.<br>


                </blockquote>

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">Who is bork?</h1>

                <blockquote style="text-align: center; color: rgb(255, 255, 255); font-size: large;">

                    basically some skid.

                </blockquote>

                <br>
                <br>
                <br>
                <hr class="thick">

                <h1 class="title is-1" style="color: rgb(204, 204, 204); text-align: center;">Content on this website</h1>
                <div class=''
                    style="outline-width: 3px; outline-color: rgb(32, 32, 32); /* outline-style: solid */; width: 70%; margin-left: auto; margin-right: auto; display: flex; justify-content: center;">

                    <a href='/IsGay'>

                        <div class="button" style="margin: 4px;">is gay</div>

                    </a>
                    <br>
                    <a href='name'>

                        <div class="button" style="margin: 4px;">Name generator</div>

                    </a>


                </div>
                <br>


            </div>
        </div>

    </body>

</html>