<html>

    <link rel="stylesheet" type="text/css" href="../hi.css">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta property="og:site_name" content="Pozm.Media">
    <meta property="og:url" content="https://Pozm.media">
    <meta property="og:title" content="Pozm">
    <meta property="og:description" content="Generate a is gay">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#418dc0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link type="application/json+oembed" href="Embeddata.json" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="og:image" itemprop="image" content="path/to/image.png"> -->


    <body style="background-color: #27292c; height: auto;">
        
        <h1 class="Title is-1" style="margin-left: 20px; top:50px; color: rgb(252, 252, 252);">Is Gay Gen</h1>
        <h2 class="Subtitle is-3" id="change" style="margin-left: 20px; color: rgb(182, 182, 182);"> From here you can generate your own is gay.</h2>

        <form action="" method="GET" style="margin-left: 20px">

            <input type="text" name="user" placeholder="User">
            <input type="text" name="reason" placeholder="Reason">
            <input type="submit" value="Submit!">

        </form>

    </body>

    <script>


    </script>


</html>

