<html lang="en">
    <%- include("head.ejs") -%> 

    <body style="background-color: rgb(40, 44, 47); height: auto;">
        <div class="bounder">
            <%- include("nav.ejs") -%> 
            <div class="main" style="flex-flow: wrap;background: linear-gradient(171deg, rgba(171, 189, 255, 0.05) 0%, rgb(252, 70, 107) 100%);">
                <div class="welcomingBox" style="background: none;padding: auto 0;margin: 0 1vw;flex: .4 1 10%;">
    
                    <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center;">Discord webhook tools</h1>
                    <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center;">Allows you to manage webhooks.</h2>
    
                </div>

                <section class="container is-widescreen is-clipped" style>
                    <div class="box" style="background-color:rgb(29, 29, 29);/* margin: 1 0; */margin-top: auto;margin-bottom: auto;">


                        <div class="field" id="f">

                            <!-- Url // webhook url -->

                            <label class="label" style="color: rgb(202, 202, 202);">URL</label>
                            <div class="control">
                                <div class="field">
                                    <div class="control has-icons-left has-icons-right">
                                      <input class="input" type="url" placeholder="Webhook URL" id="URL">
                                      <span class="icon is-small is-left">
                                        <i class="fas fa-link"></i>
                                      </span>
                                    </div>
                                </div>
                            </div>

                            <!-- extra // send data -->

                            <div class="columns" id="extra" style="max-height: 0%; opacity: 0; transition: all 2s ease 0s; margin-bottom: 0px; margin-top: 0px; overflow: hidden;">
                                <div class="column">
                                    <label class="label" style="color: rgb(202, 202, 202);">content</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Webhook content" id="content" style="resize: vertical;transition:none;min-height: 8em;" rows="4"></textarea>

                                    </div>
                                </div>
                                <div class="column is-two-fifths">
                                    <label class="label" style="color: rgb(202, 202, 202);">name</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Webhook name" id="name">

                                    </div>
                                    <label class="label" style="color: rgb(202, 202, 202);">Avatar URL</label>
                                    <div class="control">
                                        <div class="file has-name">
                                            <label class="file-label">
                                              <input class="file-input" type="file" name="resume" id="avatar" accept=".png,.jpeg">
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                    <i class="fas fa-upload" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="file-label">
                                                        Choose a file…
                                                    </span>
                                                </span>
                                                <span class="file-name">
                                                    No file.
                                                </span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- extra2 // view data -->
                                <div class="column" id="extra2" style="max-height: 0%;opacity:0;transition: all 2s; margin-bottom:0px;margin-top:0px;overflow: hidden; display: flex;flex-flow: wrap;">
                                    <div style="display: flex; flex-flow: column;">
                                        <div style="display: flex;">
                                            <label class="label" style="margin-right: 1rem;">Name: </label>
                                            <span id="w_n">Unknown</span>
                                        </div>
                                        <div style="display: flex;">
                                            <label class="label" style="margin-right: 1rem;">id: </label>
                                            <span id="w_id">Unknown</span>
                                        </div>
                                        <div style="display: flex;">
                                            <label class="label" style="margin-right: 1rem;">Channel id: </label>
                                            <span id="w_cid">Unknown</span>
                                        </div>
                                    </div>
                                    <div style="display: flex;flex-flow: column; margin-left: 1em;">
                                        <div style="display: flex;">
                                            <label class="label" style="margin-right: 1rem;">Guild id: </label>
                                            <span id="w_gid">Unknown</span>
                                        </div>
                                        <div style="display: flex;">
                                            <label class="label" style="margin-right: 1rem;">Avatar: </label>
                                            <a id="w_pav">
                                                <span id="w_av">Unknown</span>
                                            </a>
                                        </div>
                                        <div style="display: flex;">
                                            <label class="label" style="margin-right: 1rem;">Token: </label>
                                            <span id="w_t">Unknown</span>
                                        </div>
                                    </div>
                                    <div style="display: flex;flex-flow: column; margin-left: 1em;">

                                        <img src="" id="w_avI" crossorigin="anonymous">

                                    </div>
                                </div>

                            <!-- Buttons // send, modify etc. -->

                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <p class="control">
                                            <input type="button" class="button is-link" value="Toggle extra" style="margin-top: 20px;" id="te">
                                        </p>
                                    </div>
                                    <div class="level-item" id="sendp" style="max-height: 0%; opacity: 0; transition: all 2s ease 0s; overflow: hidden;">
                                        <p class="control">
                                            <input type="button" class="button is-primary" value="Send" style="margin-top: 20px;" id="send">
                                        </p>
                                    </div>
                                    <div class="level-item" id="modp" style="max-height: 0%; opacity: 0; transition: all 2s ease 0s; overflow: hidden;">
                                        <p class="control">
                                            <input type="button" class="button is-info" value="Modify" style="margin-top: 20px;" id="mod">
                                        </p>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <p class="control">
                                            <input type="button" class="button is-danger is-right" value="Delete" style="margin-top: 20px;" id="delete">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="help" id="help"></p>
                        </div>

                        <!-- Make stuff work. -->

                        <script>

                            let m = $('#f')
                            let url = $('#URL')
                            let regx = /https:\/\/(canary|ptb)?\.?discord(app)?\.com\/api\/webhooks\/(?<id>\d+)\/(?<secret>\S*)/mi
                            let hasValid = false;
                            let currData
                            
                            function getBase64Url(file) {
                                let fr = new FileReader()
                                return new Promise(resolve=>{
                                    fr.addEventListener("load", function () {
                                        resolve(fr.result)
                                    }, false);
                                    fr.readAsDataURL(file)
                                })
                            }
                            let derf = 'https://cdn.discordapp.com/avatars/'
                            function show() {
                                $('#w_id').text(currData.id)
                                $('#w_n').text(currData.name)
                                $('#w_t').text(currData.token)
                                $('#w_cid').text(currData.channel_id)
                                $('#w_gid').text(currData.guild_id)
                                $('#w_av').text(currData.avatar)
                                $('#w_pav').attr('href',`${derf}/${currData.id}/${currData.avatar}`)
                                $('#w_avI').attr('src',`${derf}/${currData.id}/${currData.avatar}`)
                                $('#extra2').css({overflow:'hidden','max-height':'100%',opacity:1})
                            }
                            function hide () {
                                $('#w_id,#w_n,#w_t,#w_cid,#w_av,#w_gid').text('Unkown')
                                $('#extra2').css({overflow:'hidden','max-height':'0%',opacity:0})
                            }

                            url.on('input',(e)=>{
                                let ma = url.val().match(regx)
                                if (!ma) {

                                    url.addClass('is-danger')
                                    url.removeClass('is-success')
                                    hasValid = false;
                                    hide()

                                }else {

                                    url.removeClass('is-danger')
                                    url.parent().addClass('is-loading')
                                    $.ajax(
                                        {
                                            url: url.val(), 
                                            success:suc => {
                                                url.addClass('is-success')
                                                url.parent().removeClass('is-loading')
                                                currData = suc
                                                show()
                                                hasValid = true;
                                            },
                                            error:e=>{

                                                url.addClass('is-danger')
                                                url.removeClass('is-success')
                                                url.parent().removeClass('is-loading')
                                                hide()
                                                hasValid = false;

                                            }
                                        }
                                    )
                                }

                            })
                            $('#avatar').on('change', ()=>{
                                let inp = $('#avatar').get(0)
                                if (inp.files.length > 0) {
                                    $('.file-name').text(inp.files[0].name)
                                }
                            })
                            $('#delete').click((e)=>{

                                if (!hasValid) return $('#help').text('The provided webhook is invalid.');
                                $('#help').text();
                                $.ajax({

                                    url:url.val(),
                                    method:'delete',
                                    success:suc=>{
                                        $('#help').text('Successfully deleted that webhook.');
                                        url.addClass('is-danger')
                                        url.removeClass('is-success')
                                        hide()
                                        hasValid = false
                                    },
                                    error:e=>{
                                        $('#help').text('Something wen\'t wrong while trying to delete the webook');
                                    }
                                    
                                    
                                })

                            })
                            $('#send').click(async e=>{

                                if (!hasValid) return $('#help').text('The provided webhook is invalid.');
                                let d = {

                                    content: $('#content').val() || 'hi',
                                    username: $('#name').val() || currData.name,
                                    avatar_url:await getBase64Url($('#avatar').get(0).files[0]) || currData.avatar

                                }
                                $.ajax({

                                    url:url.val(),
                                    method:'post',
                                    data:d,
                                    processData:true,
                                    success:suc=>{
                                        $('#help').text('Successfully sent!');
                                        
                                    },
                                    error:e=>{
                                        $('#help').text('Something wen\'t wrong while trying to send');
                                        console.log(e)
                                        console.log('SENT:',d)
                                    }


                                })
                            })
                            $('#mod').click(async e=>{

                                if (!hasValid) return $('#help').text('The provided webhook is invalid.');
                                // $('#w_avI').attr('src',$('#avatar').val())
                                let d = {
                                    name: $('#name').val() || currData.name,
                                    avatar: await getBase64Url($('#avatar').get(0).files[0]) || currData.avatar
                                }
                                $.ajax({

                                    url:url.val(),
                                    method:'PATCH',
                                    data:JSON.stringify(d),
                                    contentType:'application/json;charset=utf-8',
                                    processData:true,
                                    success: suc=>{
                                        $('#help').text('Successfully modified!');
                                        currData = suc
                                        // console.log(d.avatar)
                                        show()
                                        
                                    },
                                    error:e=>{
                                        $('#help').text(`Something wen\'t wrong while trying to modify ( ${e.responseText} )`);
                                        console.log(e)
                                        console.log('SENT:',d)
                                    }


                                })
                            })
                            let extra = false;
                            let ttt = $('#sendp,#extra,#modp')
                            $('#te').click(e=>{

                                if (!extra){
                                    ttt.css({overflow:'hidden','max-height':'100%',opacity:1})
                                    extra = ! extra
                                }else{
                                    ttt.css({overflow:'hidden','max-height':'0%',opacity:0})
                                    extra = ! extra

                                }
                            })

                        </script>


                    </div>

                </section>

            </div>
        </div>
    </body>

</html>

